<launch> 
 <arg name= "use_xacro" default = "false" /> 
	
 <arg name= "rviz_config_file" default = "$(find naccis_description)/config/config.rviz" /> 
 <arg name="use_gui" default="true"/>
 
 <arg if = "$(arg use_xacro)" name = "filename" default = "robot.xacro" /> 
 <arg unless = "$(arg use_xacro)" name = "filename" default = "robot.urdf" /> 
 
 <arg name = "file" default = "$(find naccis_description)/urdf/$(arg filename)" /> 
 
 <param if = "$(arg use_xacro)" name = "robot_description" command = "$(find xacro)/xacro $(arg file)" /> 
 <param unless = "$(arg use_xacro)" name = "robot_description" textfile = "$(arg file)" /> 
 
 <node pkg = "robot_state_publisher" type = "robot_state_publisher" name = "robot_state_publisher" /> 
 
 <node pkg = "rviz" type = "rviz" name = "rviz" args = "-d $(arg rviz_config_file)" required = "true" /> 


</launch > 
